
/* video 55 tutorial starting */
/* 
#div1 {
    height: 10rem;
    width: 20rem;
    background-color: tomato;
} */


/* .desk-rewards-button, .desk-rewards-button:focus {
    background-color: #F8BF1E;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Neue Haas Grotesk Text Pro", sans-serif;
} */


